body {
    background-color: #32b1f1;
    color: #010600;
    font-family: 'Courier New', Courier, monospace;    
}
.nav_bar {
    font-size: 30px;
    font-weight: bolder;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
}
.container-2{
    margin-top: 60px;
}
.row-6 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.col-8 {
    margin-left: 40px;
    font-family: Arial;
}
.nav_logo {
    background: url(../image/logo.jpg) no-repeat center center;
    background-size: 100%;
    width:40px;
    height:40px;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_size {
}
.my_photo {
    background: url(../image/me.jpg) no-repeat center center;
    background-size: 100%;
    width:300px;
    height:300px;
}
.title_photo {
    margin-top: 20px;
    font-family: 'Brush Script MT', cursive;
}